{% extends "CondorsTnMallBundle::MyAccountTemplate.html.twig" %}

{% block pageTitle %}
    <h1 class="page-title"></h1>
{% endblock pageTitle %}

{% block header %}
    {{ include('CondorsTnMallBundle::SimpleVisitor/parts/header.html.twig') }}
{% endblock header %}

{% block titleTop %}<h2 class="title-heading">ABOUT US</h2>{% endblock %}

{% block about %}
        <div class="about-us-content">
            <h3 class="about-title">Our Story</h3>
            <div class="about-content">
                <p>
                    Le Mall s’étale sur quatre niveaux qui abritent  80 commerces  dont une quinzaine qui ouvriront leurs portes pour la première fois en Tunisie. La zone de restauration ou le food-court, située au dernier niveau du Mall, offrira un large choix de spécialités culinaires de tous genres.
                    Le Mall a aussi prévu plus de 500 places de parking en sous-sol sur 2 niveaux.                </p>
            </div>
        </div>

{% endblock about %}
