{% extends "CondorsTnMallBundle::MyAccountTemplate.html.twig" %}

{% block pageTitle %}
    <h1 class="page-title"></h1>
{% endblock pageTitle %}

{% block header %}
    {{ include('CondorsTnMallBundle::SimpleVisitor/parts/header.html.twig') }}
{% endblock header %}

{% block titleTop %}<h2 class="title-heading">CONTACT US</h2>{% endblock %}

{% block contact %}

    <div class="mt-4">
    <div class="col-sm-4">
        <div class="yolo-contact-info info-left">
            <h3 class="title">Address</h3>
            <i class="fa fa-map-marker"></i>
       										<span>
       											Berges du Lac 2<br/>
											</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="yolo-contact-info info-left">
            <h3 class="title">Phone</h3>
            <i class="fa fa-mobile"></i>
       										<span>
       											Phone: 20200200<br />
												Fax: 1-300-0400-500-2
											</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="yolo-contact-info info-left">
            <h3 class="title">E-mail</h3>
            <i class="fa fa-paper-plane"></i>
       										<span>
       											<a href="mailto:email@domain.com">email@tunmall.com</a>
       										</span>
        </div>
    </div>
    </div>
<br>
<br>
<br>
<br><br>
<br>

<div id="googleMap" style="width: 100%; border:0;height: 380px;">

</div>
    <br>
    <br>
    <br>
    <br>

{% endblock contact  %}
    {% block oScript %}
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC-RG__a-P1m7hAtd0KYK91jKz6hGczDZg"></script>
        <script type="text/javascript" src="{{ asset('storelocator/js/j.js') }}"></script>
    {% endblock oScript %}