{% extends "CondorsTnMallBundle::MyAccountTemplate.html.twig" %}

{% block pageTitle %}
    <h1 class="page-title"></h1>
{% endblock pageTitle %}

{% block header %}
    {{ include('CondorsTnMallBundle::SimpleVisitor/parts/header.html.twig') }}
{% endblock header %}

{% block titleTop %}<h2 class="title-heading">FAQs</h2>
    <div class="container-fluid">
        <div class="row row-fluid">
            <div class="col-sm-12">
                <div class="yolo-title title-center">
                    <p class="sub-title">Question / Answer</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block faq %}
    <div class="content-area">
        <div class="mb-0 pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h2 class="custom_heading mt-2 ml-0 mb-3">
                            Returns/Exchange
                        </h2>
                        <div class="row row-fluid">
                            <div class="col-sm-12">
                                <div class="accordion" id="accordion1">
                                    <div class="accordion-group toggle toggle_default toggle_color_default toggle_size_md">
                                        <div class="accordion-heading toggle_title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse1">
                                                How do I contact with you?
                                            </a>
                                            <i class="toggle-icon fa fa-plus"></i>
                                        </div>
                                        <div id="collapse1" class="accordion-body toggle_content collapse">
                                            <div class="accordion-inner">
                                                <p>Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-group toggle toggle_default toggle_color_default toggle_size_md">
                                        <div class="accordion-heading toggle_title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse2">
                                                What is your&#039;s shop address?
                                            </a>
                                            <i class="toggle-icon fa fa-plus"></i>
                                        </div>
                                        <div id="collapse2" class="accordion-body toggle_content collapse">
                                            <div class="accordion-inner">
                                                <p>Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-group toggle toggle_default toggle_color_default toggle_size_md">
                                        <div class="accordion-heading toggle_title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse3">
                                                How to get coupon code?
                                            </a>
                                            <i class="toggle-icon fa fa-plus"></i>
                                        </div>
                                        <div id="collapse3" class="accordion-body toggle_content collapse">
                                            <div class="accordion-inner">
                                                <p>Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h2 class="custom_heading mt-4 ml-0 mb-3">
                            General Questions
                        </h2>
                        <div class="row row-fluid">
                            <div class="col-sm-12">
                                <div class="accordion" id="accordion2">
                                    <div class="accordion-group toggle toggle_default toggle_color_default toggle_size_md">
                                        <div class="accordion-heading toggle_title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse4">
                                                How do I contact with you?
                                            </a>
                                            <i class="toggle-icon fa fa-plus"></i>
                                        </div>
                                        <div id="collapse4" class="accordion-body toggle_content collapse">
                                            <div class="accordion-inner">
                                                <p>Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-group toggle toggle_default toggle_color_default toggle_size_md">
                                        <div class="accordion-heading toggle_title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse5">
                                                What is your&#039;s shop address?
                                            </a>
                                            <i class="toggle-icon fa fa-plus"></i>
                                        </div>
                                        <div id="collapse5" class="accordion-body toggle_content collapse">
                                            <div class="accordion-inner">
                                                <p>Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-group toggle toggle_default toggle_color_default toggle_size_md">
                                        <div class="accordion-heading toggle_title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse6">
                                                How to get coupon code?
                                            </a>
                                            <i class="toggle-icon fa fa-plus"></i>
                                        </div>
                                        <div id="collapse6" class="accordion-body toggle_content collapse">
                                            <div class="accordion-inner">
                                                <p>Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h2 class="custom_heading mt-2 ml-0 mb-3">
                            Shipping
                        </h2>
                        <div class="row row-fluid">
                            <div class="col-sm-12">
                                <div class="accordion" id="accordion3">
                                    <div class="accordion-group toggle toggle_default toggle_color_default toggle_size_md">
                                        <div class="accordion-heading toggle_title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapse7">
                                                How do I contact with you?
                                            </a>
                                            <i class="toggle-icon fa fa-plus"></i>
                                        </div>
                                        <div id="collapse7" class="accordion-body toggle_content collapse">
                                            <div class="accordion-inner">
                                                <p>Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-group toggle toggle_default toggle_color_default toggle_size_md">
                                        <div class="accordion-heading toggle_title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapse8">
                                                What is your&#039;s shop address?
                                            </a>
                                            <i class="toggle-icon fa fa-plus"></i>
                                        </div>
                                        <div id="collapse8" class="accordion-body toggle_content collapse">
                                            <div class="accordion-inner">
                                                <p>Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-group toggle toggle_default toggle_color_default toggle_size_md">
                                        <div class="accordion-heading toggle_title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapse9">
                                                How to get coupon code?
                                            </a>
                                            <i class="toggle-icon fa fa-plus"></i>
                                        </div>
                                        <div id="collapse9" class="accordion-body toggle_content collapse">
                                            <div class="accordion-inner">
                                                <p>Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h2 class="custom_heading mt-2 ml-0 mb-3">
                            Become an Affiliate
                        </h2>
                        <div class="row row-fluid">
                            <div class="col-sm-12">
                                <div class="accordion" id="accordion4">
                                    <div class="accordion-group toggle toggle_default toggle_color_default toggle_size_md">
                                        <div class="accordion-heading toggle_title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapse10">
                                                How do I contact with you?
                                            </a>
                                            <i class="toggle-icon fa fa-plus"></i>
                                        </div>
                                        <div id="collapse10" class="accordion-body toggle_content collapse">
                                            <div class="accordion-inner">
                                                <p>Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-group toggle toggle_default toggle_color_default toggle_size_md">
                                        <div class="accordion-heading toggle_title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapse11">
                                                What is your&#039;s shop address?
                                            </a>
                                            <i class="toggle-icon fa fa-plus"></i>
                                        </div>
                                        <div id="collapse11" class="accordion-body toggle_content collapse">
                                            <div class="accordion-inner">
                                                <p>Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-group toggle toggle_default toggle_color_default toggle_size_md">
                                        <div class="accordion-heading toggle_title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#collapse12">
                                                How to get coupon code?
                                            </a>
                                            <i class="toggle-icon fa fa-plus"></i>
                                        </div>
                                        <div id="collapse12" class="accordion-body toggle_content collapse">
                                            <div class="accordion-inner">
                                                <p>Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-0 mb-7">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row row-fluid">
                            <div class="col-sm-4">
                                <div class="yolo-service-box">
                                    <div class="service-icon">
                                        <div class="service-icon-border"></div>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <div class="service-icon-duplicate">
                                        <div class="service-icon-border"></div>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <div class="service-text clearfix">
                                        <p class="sub-title">Weekly</p>
                                        <h2 class="title"><strong>Promotions</strong></h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="yolo-service-box">
                                    <div class="service-icon">
                                        <div class="service-icon-border"></div>
                                        <i class="fa fa-long-arrow-right"></i>
                                    </div>
                                    <div class="service-icon-duplicate">
                                        <div class="service-icon-border"></div>
                                        <i class="fa fa-long-arrow-right"></i>
                                    </div>
                                    <div class="service-text clearfix">
                                        <p class="sub-title">Worldwide</p>
                                        <h2 class="title"><strong>Free Shipping</strong></h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="yolo-service-box">
                                    <div class="service-icon">
                                        <div class="service-icon-border"></div>
                                        <i class="fa fa-repeat"></i>
                                    </div>
                                    <div class="service-icon-duplicate">
                                        <div class="service-icon-border"></div>
                                        <i class="fa fa-repeat"></i>
                                    </div>
                                    <div class="service-text clearfix">
                                        <p class="sub-title">In 30 days</p>
                                        <h2 class="title"><strong>Free Returns</strong></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /.main -->
{% endblock faq  %}
