{% extends "CondorsTnMallBundle::MyAccountTemplate.html.twig" %}

{% block pageTitle %}
    <h1 class="page-title"></h1>
{% endblock pageTitle %}

{% block header %}
    {{ include('CondorsTnMallBundle::SimpleVisitor/parts/header.html.twig') }}
{% endblock header %}

{% block titleTop %}<h2 class="title-heading">STORE LOCATOR</h2>{% endblock %}

{% block store %}

    <center>
        <iframe width="900" scrolling="no" height="500" src="ftp://ftp.byethost16.com/sooheib/test.html"></iframe>
    </center>

    <BR><br><br>
    <center>
        <iframe allowfullscreen="true" width="900" height="500" src="http://www.gabrielacoca.fr/eiffel/cardboard/eiffel-cardboard.html?base=http://www.gabrielacoca.fr/eiffel/cardboard/&"></iframe>

    </center>

{% endblock store %}
