{% extends "CondorsTnMallBundle::Admin/index.html.twig" %}



{% block Content %}





    <div class="x_panel">
        <div class="x_title">
            <h2><i class="fa fa-bars"></i> Gestion des pack publicitaires <small>vous pouvez ajouter modifier ou supprimer les pack a partir d'ici</small></h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                    </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <div class="" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="myTab1" class="nav nav-tabs bar_tabs right" role="tablist">

                    <li role="presentation" class=""><a href="#tab_content22" role="tab" id="profile-tabb" data-toggle="tab" aria-controls="profile" aria-expanded="false">profile</a>
                    </li>
                    <li role="presentation" class="active"><a href="#ajouterPack" role="tab" id="profile-tabb3" data-toggle="tab" aria-controls="profile" aria-expanded="true">Ajouter un pack</a>
                    </li>
                </ul>
                <div id="myTabContent2" class="tab-content">

                    <div role="tabpanel" class="tab-pane fade" id="tab_content22" aria-labelledby="profile-tab">
                        <iframe  id="displayPack" frameborder="0" scrolling="auto" src="{{ path('condors_tn_mall_Admin_displayPacks') }}" style="height: 385px; width: 100%" ></iframe>
                    </div>


                    <div role="tabpanel" class="tab-pane fade active in" id="ajouterPack" aria-labelledby="profile-tab">

                        <iframe  id="form-iframe" frameborder="0" scrolling="no"  style="height: 385px; width: 100%" src="{{ path('condors_tn_mall_Admin_addPack') }}"></iframe>
                    </div>



                </div>
            </div>

        </div>
    </div>
{% endblock Content %}

   {% block otherScript  %}
       
       <script>
          $("#profile-tabb").click(function(){
             $("#tab_content22").html("<iframe  id='form-iframe' frameborder='0' scrolling='no'  style='height: 385px; width: 100%' src='{{ path('condors_tn_mall_Admin_displayPacks') }}'></iframe>");
    
          });
             
       </script>
   {% endblock otherScript%}