
    
                                <h3>&nbsp;</h3>
                                <ul class="nav side-menu">
                                    <li><a href="{{ path('condors_tn_mall_Admin_index') }}"><i class="fa fa-home"></i> Dashboard </a>

                                    </li>
                                

                                    <li><a href="{{path('condors_tn_mall_Admin_GestionPack')}}"><i class="fa fa-flag"></i> Gestion de pack publicitaire </a></li>

                                </ul>
                                    
