<div class="profile">
    <div class="profile_pic">
        <img src="{{ user.image}}" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
        <span>Welcome,</span>
        <h2>{{ user.prenom | capitalize}} {{ user.nom | capitalize}}</h2>
    </div>
</div>