
<nav class="yolo-main-menu">
    <ul class="nav-collapse navbar-nav">
        <li class="menu-item current-menu-item menu-item-has-children">
            <a href="{{ path('condors_tn_mall_homepageNewProd') }}">Home</a>

        </li>

        <!--                                    Begin Categorie-->
        <li class="yolo_megamenu mega-col-columns-5 menu-item">
            <a href="shop-by-category.html">Categories</a>



        </li>


        <!--                                    End Categorie-->
        <li class="menu-item menu-item-has-children">
            <a href="{{path('condors_tn_mall_simple_brands')}}">Brands</a>

        </li>
        <li class="yolo_megamenu mega-col-columns-4 menu-item menu-item-has-children">
            <a href="shop.html">Promotions</a>
        </li>
        <li class="menu-item menu-item-has-children">
            <a href="blog.html">Events</a>
            <ul class="sub-menu">
                <li class="menu-item"><a href="blog-list.html">Shop Events / Specials</a></li>
                <li class="menu-item"><a href="blog-grid.html">Mall Events</a></li>

                <li class="menu-item"><a href="blog-timeline.html">Kids Events</a></li>

            </ul>
        </li>
        <li class="menu-item menu-item-has-children">
            <a href="#">Blog</a>

        </li>
        <li class="menu-item yolo-menu-item-cart minicart">
            <a class="cart-button" href="cart.html">
                <span class="cart-item">
                    <i class="fa fa-shopping-cart"></i>
                </span>
            </a>
            <div class="yolo-minicart">
                <div class="minicart-header">Your shopping bag is empty.</div>
                <div class="minicart-footer">
                    <div class="minicart-actions clearfix">
                        <a class="button pull-left" href="shop.html">
                            <span class="text">Go to the shop</span>
                        </a>
                    </div>
                </div>
            </div>
        </li>
        <li class="menu-item yolo-menu-item-search">
            <a class="search-button" href="javascript:void(0)"><i class="fa fa-search"></i></a>
        </li>
    </ul>
</nav>